h1{
    text-align: center;
}

label {
    display: block;
    font: .9rem 'Fira Sans', sans-serif;
    margin-top: 1rem;
}

input[type='button'] {
    background-color: black;
    border: none;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    margin: 10px 2px;
    padding: 5px 10px;}